Repository ThePinsTeam-CustomImageBuilds/cicd-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: script-tests, build-branches, build-main

.gitlab-ci.yml:

image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine:edge

# https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#docker-cannot-connect-to-the-docker-daemon-at-tcpdocker2375-is-the-docker-daemon-running
services:
  - name: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:stable-dind
    alias: docker

include:
  # First, load our global ruleset first.
  - local: .gitlab/global-rules.gitlab-ci.yml
  # Include everything our pipelines stuff.
  - local: .gitlab/pipelines/*.yml

script-tests:
  stage: test
  extends:
    - .docker-build-base
  variables:
    SKIP_DOCKER_BUILDKIT_PUSH: "1"
    SKIP_LOGIN_STEP: "1" # Configuration is still in progress on 
    SKIP_DOPPLER_STEP: "1"
  rules:
    - changes:
       - docker/gitlab-cicd-script-tests/Dockerfile
       - docker/gitlab-cicd-script-tests/build-metadata.json
       - scripts/*.sh

dockerfile-lint:
  stage: lint
  extends:
    - .docker-build-base
  variables:
    SKIP_LOGIN_STEP: "1"
    SKIP_BUILD_STEP: "1"
  script:
    - ./scripts/hadolint.sh
  allow_failure: true

build-branches:
  stage: build
  needs:
    - dockerfile-lint
  extends:
    - .docker-build-base
  rules:
    - changes:
        - docker/**/Dockerfile
        - docker/**/build-metadata.json
      # Only run this on branches, except branches that has an merge request
      if: '$CI_COMMIT_BRANCH != "main" && $CI_PIPELINE_SOURCE != "merge_request_event"'

build-main:
  stage: build
  needs:
    - dockerfile-lint
  extends:
    - .docker-build-base
  rules:
    - changes:
        - docker/**/Dockerfile
        - docker/**/build-metadata.json
      if: '$CI_COMMIT_BRANCH == "main"'

fix(gitlab-cicd): :green_heart: fix some syntax issues in the GitLab CI configuration
  .gitlab-ci.yml
  .gitlab/global-rules.gitlab-ci.yml
Due: none

ci(gitpod): :green_heart: switch to wei/git-sync for push-to-gitlab step btw
  .github/workflows/push-to-gitlab.yml
Due: none

fix(github-actions): :green_heart: quick fix for the sync-commit-main job real quick
  .github/workflows/push-to-gitlab.yml
Due: none

chore(scripts): :hammer: update GitLab CI setup and build scripts
  .gitlab-ci.yml
  .gitlab/pipelines/dangerjs.gitlab-ci.yml
  scripts/build.sh
  scripts/gitlab-cicd-setup.sh
Due: script-tests

ci(gitlab-cicd): :wrench: fix more sytax error shitlords
  .gitlab-ci.yml
Due: none

ci(github-actions): :green_heart: fix wrong secret name being used in push-to-gitlab workflow
  .github/workflows/push-to-gitlab.yml
Due: none

ci(gitlab-cicd): finally fixed the arrangement of stages
  .gitlab-ci.yml
Due: none

build(gitlab-cicd): :construction_worker: switch to ghcr.io/maniator/dind-buildx for Buildx support stuff
  .gitlab-ci.yml
  .gitlab/pipelines/dangerjs.gitlab-ci.yml
  scripts/gitlab-cicd-setup.sh
Due: script-tests

ci(gitlab-cicd): :construction_worker: add gnupg to apk install step in global before_script
  .gitlab/global-rules.gitlab-ci.yml
Due: none

build(gitlab-cicd): :rewind: revert to docker:dind for the Docker deamon service in GitLab CI config
  .gitlab-ci.yml
Due: none

build(gitlab-cicd): :wrench: prepare some configurations for the default branch rename
  .github/disabled-workflows/mkdocs-material-image.yml
  .github/workflows/push-to-gitlab.yml
  scripts/gitlab-cicd-setup.sh
Due: script-tests

build(gitlab-cicd): :wrench: switch back to the official docker:stable image since we're totally f*cked
  .github/workflows/push-to-gitlab.yml
  .gitlab-ci.yml
Due: none

fix(gitpod): :goal_net: fix "root user required" error in an eariler Gitpod workspace prebuild
  .gitpod.Dockerfile
Due: none

ci(gitlab-cicd): :wrench: update CI configuration, build scripts and relatively fix some issues on the build script
  .gitignore
  .gitlab-ci.yml
  .gitlab/pipelines/docker-build.gitlab-ci.yml
  .gitlab/pipelines/dockerfile-lint.gitlab-ci.yml
  scripts/build.sh
  scripts/gitlab-cicd-setup.sh
Due: script-tests

ci(gitlab-cicd): :wrench: update CI configuration one last time before deploying the build-metadata JSON files
  .gitlab-ci.yml
  .gitlab/global-rules.gitlab-ci.yml
Due: none

build(docker): :boom: switch to our homegrown build-metadata.json template files
  docker/bulldozer-abuild/build-metadata.json
  docker/bulldozer-abuild/build.hcl
  docker/gitlab-cicd-script-tests/Dockerfile
  docker/gitlab-cicd-script-tests/build-metadata.json
  docker/mkdocs-material/build-metadata.json
  docker/mkdocs-material/build.hcl
Due: script-tests, build-branches, build-main
